Research Report Generator.json
{
  "name": "Research Report Generator",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Тема исследования: {{ $json.topic }}.\n\nТвоя задача:\n1. Используй инструмент Google Search для поиска актуальных источников по теме.\n2. Для каждого найденного источника:\n   - Кратко опиши основную идею (2-3 предложения)\n   - Выдели ключевые факты, цифры или выводы (3-5 пунктов)\n   - Отметь, если источник противоречивый или малоинформативный\n3. Объедини информацию:\n   - Сопоставь данные из разных источников\n   - Выяви общие тенденции, сходства и различия\n   - Сформулируй сводный отчёт (5-7 предложений)\n4. Предложи рекомендации:\n   - 2-3 направления для дальнейшего изучения\n   - Возможные риски или ограничения источников\n\nТребования:\n- Отвечай только на русском языке\n- Используй дружелюбный и понятный стиль\n- Не выдумывай факты\n- Не добавляй ссылки, которых нет в найденных данных\n- Не указывай личные данные или финансовые советы",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Ты — автономный AI исследователь.\n\nТвоя задача:\nпровести исследование темы, используя доступные инструменты.\n\nАлгоритм:\n1. Разбей тему на вопросы\n2. Используй поиск (если нужно)\n3. Собери факты\n4. Сформируй отчет\n\nФормат ответа:\n\n1. Объяснение темы (3–5 предложений)\n2. Ключевые факты:\n   - пункт\n   - пункт\n3. Основные выводы\n4. Ограничения информации\n5. Итог\n\nПравила:\n- НЕ выдумывай\n- Используй поиск при необходимости\n- Пиши четко\n- Только русский язык",
          "maxIterations": 15
        }
      },
      "id": "bdceea30-a74b-4bea-90c6-2442481ca3c1",
      "name": "Research Analyst",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        496,
        320
      ]
    },
    {
      "parameters": {
        "options": {
          "hl": "ru"
        }
      },
      "id": "e19f5f8c-80cf-47dd-b709-7762ed940206",
      "name": "Google Search",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        624,
        704
      ],
      "credentials": {
        "serpApi": {
          "id": "DSMmjEpR7WlXEDum",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": {
          "sources": [
            {
              "url": "https://example.com",
              "title": "Заголовок источника",
              "summary": "Краткое описание основной идеи источника (2-3 предложения)",
              "keyFacts": [
                "Ключевой факт 1",
                "Ключевой факт 2",
                "Ключевой факт 3"
              ],
              "notes": "Примечания о качестве источника (противоречивый, малоинформативный и т.д.)"
            }
          ],
          "consolidatedReport": "Сводный отчёт, объединяющий информацию из всех источников (5-7 предложений)",
          "recommendations": [
            "Рекомендация 1: направление для дальнейшего изучения",
            "Рекомендация 2: возможные риски или ограничения"
          ]
        }
      },
      "id": "321a4eca-3e99-4c84-9ae6-bd266fe3878a",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        864,
        240
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4-turbo",
          "mode": "id"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        272,
        656
      ],
      "id": "450d8ff1-1676-43fe-8668-77cf21e78db6",
      "name": "OpenAI Chat Model",
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "X0agrMU4vlkXwxQO",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "=: application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"ТВОЙ_API_KEY\",\n  \"query\": \"{{$json[\"topic\"]}}\",\n  \"search_depth\": \"advanced\",\n  \"include_answer\": true,\n  \"max_results\": 5\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        768,
        640
      ],
      "id": "6016abfb-6ad1-4be0-acf1-625bd137ff30",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        448,
        688
      ],
      "id": "04ac87b1-f062-4b59-91a8-fbe4f0aebdda",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0b859d54-bdf7-40f4-a550-ee8b92bba3b8",
              "leftValue": "={{$json.final_report.length}}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1104,
        592
      ],
      "id": "41cb7bf8-58a2-4daa-a4c3-f83aab0483bf",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      topic: $json.topic,\n      short_summary: $json.short_summary,\n      key_facts: $json.key_facts.join(\"\\n\"),\n      final_report: $json.final_report\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        432
      ],
      "id": "9af3e40c-4613-4d50-8c5e-4d5d0f4f282f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1EIm70m0a7UwTDunUeTaeZRvJ5O2Uhs0uLZ170sEf7Wg",
          "mode": "list",
          "cachedResultName": "AI Research Reports",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EIm70m0a7UwTDunUeTaeZRvJ5O2Uhs0uLZ170sEf7Wg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EIm70m0a7UwTDunUeTaeZRvJ5O2Uhs0uLZ170sEf7Wg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{$now}}",
            "topic": "={{$json.topic}}",
            "short_summary": "={{$json.output}}",
            "key_facts": "={{$json.output}}",
            "final_report": "={{$json.output}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "short_summary",
              "displayName": "short_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "key_facts",
              "displayName": "key_facts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_report",
              "displayName": "final_report",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1312,
        464
      ],
      "id": "c71df6db-aff5-458b-afbe-06ed39c3fa64",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "toSqbfHqJ1nDtxU8",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -48,
        336
      ],
      "id": "facf4028-43cd-4ced-90fb-c5478276952b",
      "name": "Telegram Trigger",
      "webhookId": "e5f8e077-1027-4c08-bb5e-2f42faa49afa",
      "credentials": {
        "telegramApi": {
          "id": "Fi4T0tUwdKi6nN2u",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2437320-7282-466e-b5a1-d53b3116352e",
              "name": "topic",
              "value": "={{$json[\"message\"][\"text\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        352
      ],
      "id": "70fa319f-9859-4eba-940b-dcdd9b89296b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "={{$json.message.chat.id}}",
        "text": "={{$json.final_report}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1312,
        688
      ],
      "id": "63934e44-c3cb-4365-8bc3-91acded9005c",
      "name": "Send a text message",
      "webhookId": "e3a3c060-1dca-4ab6-bd17-8ed881411fce",
      "credentials": {
        "telegramApi": {
          "id": "Fi4T0tUwdKi6nN2u",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Search": {
      "ai_tool": [
        [
          {
            "node": "Research Analyst",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Research Analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "Research Analyst",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Research Analyst",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Research Analyst": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Research Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b379f62b-06d0-4b8c-a156-3051ecc3636d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62b13ec2f51fa9b29197890e0866ded5e49702196533eed4e92ed5885102e621"
  },
  "id": "7M1U0ceZBEuqtrtc",
  "tags": []
}